ul.wcml_currency_switcher{
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none !important;
    position: relative;
}

ul.wcml_currency_switcher li{
    cursor: pointer;
    border: 1px solid #cdcdcd;
}

.wcml-active-currency{
    background-color: #E5E5E5;
}

ul.wcml_currency_switcher.curr_list_vertical{
    border-top: 1px solid #cdcdcd;
    display: inline-block;
}

ul.wcml_currency_switcher.curr_list_horizontal li{
    float: left;
    position: relative;
    padding: 2px 5px;
    margin-left: 1px;
}
ul.wcml_currency_switcher.curr_list_horizontal li:first-child{
    margin-left: 0;
}

ul.wcml_currency_switcher.curr_list_vertical li{
    border-top-width: 0;
    padding-left: 10px;
    cursor: pointer;
}

ul.wcml_currency_switcher.curr_list_vertical li{
    padding: 3px 10px;
    margin: 0;
}